{% extends 'ILLVisitBundle::baseAdmin.html.twig' %}

{% block content %}
	<div class="row">
		<div class="span10">
			<h1>Administration</h1>
			<h2> Welcome</h2>
			<br />
			<p>Welcome in the administrator border</p>
		</div>
	</div>
{% endblock %}